* {
    padding: 0px;
    margin: 0;
    font-family: "Inter";
}

.container {
    max-width: 1200px;
    margin: auto;
}

.common-btn {
    background-color: #1D4ED8;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    align-items: right;
    margin-right: 60px;
    font-size: 14px;
}


.logo {
    margin-left: 60px;
    width: auto;
    height: auto;
    align-items: left;
    padding: 10px 0px;
}

nav {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    align-items: center;

}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
    align-items: center;
}

ul li a {
    text-decoration: none;
    color: #575757;
    font-size: 14px;

}

.banner {
    max-width: 1200px;
    width: 100%;
    max-height: 500px;
    margin: 0 auto;

}

.banner img {
    width: 100%;
    height: 500px;
    display: block;

}

section .banner-text {
    color: #FFFFFF;
    position: relative;
    top: -430px;
    text-align: center;
}

section .banner-text h1 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    display: inline;

}

section .banner-text p {
    text-align: center;
    margin: 20px auto;
    padding: 0px 300px;
    font-size: 14px;
}

section .banner-btn {
    position: relative;
    top: -230px;
    text-align: center;
    padding: 0px;
}


.meet-the-speakers h1 {
    max-width: 1200px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
    text-align: center;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    border: #8c8c8c;
}

.card {
    background-color: #ffffff;
    border: 1px solid #dbdddd;
    padding-bottom: 16px;
    border-radius: 12px;
    overflow: hidden;
    /* display: flex; */
    flex-direction: column;
}

.card-content {
    padding: 8px 16px;

}

.card-content h2 {
    padding: 8px 0;

}

.secure-your-spot-headline h1 {
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
}

.secure-your-spot-headline p {
    padding-top: 5px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 14px;
    color: #575757;
}

.grid-container-pricing {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
    border: 1px solid #adadaf;
    margin: 8px;
    border-radius: 6px;
    min-width: 310px;
    color: #888888;
}


.card-text {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 10px;
    text-align: left;
}

.card-content-text {
    margin: 0 auto;
    padding: 10px;
    text-align: left;
}

.card-content-text span {
    font-size: 12px;
}

.card-content-text h2 {
    font-size: 35px;
    color: black;
}

.card-content-text p {
    font-size: 14px;
}

.card-content-text hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-content-text ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10px;
    padding-bottom: 20px;
    list-style-type: circle;

}

.body-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 30px;
}


.grid-container-pricing-blue {
    background-color: #0D1B2A;
}

.grid-container-pricing-blue h1 {
    color: white;
}

.grid-container-pricing-blue span {
    color: #60A5FA;
}

.grid-container-pricing-blue p {
    color: white;
}

.grid-container-pricing-blue li {
    color: white;

}

.pricing-btn {
    background-color: #1D4ED8;
    border: none;
    padding: 10px 65px;
    border-radius: 5px;
    color: white;
    align-items: center;
    margin-right: 60px 60px;
    font-size: 14px;

}

.pricing-btn-normal {
    background-color: white;
    border: none;
    padding: 10px 65px;
    border-radius: 5px;
    color: #575757;
    align-items: center;
    margin-right: 60px 60px;
    font-size: 14px;
    border: 1px solid blue;
}

.pricing-btn-normal2 {
    background-color: white;
    border: none;
    padding: 10px 65px;
    border-radius: 5px;
    color: #575757;
    align-items: center;
    margin-right: 60px 60px;
    font-size: 14px;
    border: 1px solid rgb(2, 2, 2);
}

.footer {
    padding: 0 100px 0 100px;
}

.footer-left-logo img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 30px;
    width: auto;
    height: auto;
    padding: 10px 0px;

}

.footer-area {
    display: flex;
    flex-direction: column;
    background-color: rgb(238, 238, 238);
    padding-top: 10px;
}

.social-media-link {
    display: flex;
    align-content: center;
    align-items: center;
    gap: 15px;
    padding-right: 30px;
}

.social-media-link a {
    display: flex;
    align-content: center;
    align-items: center;
    text-decoration: none;
}


.social-media-link a span {
    padding-left: 8px;
}

.social-media-link img {
    width: 18px;
    height: 18px;

}

.footer-botom-text {
    text-align: center;
    padding: 10px 0;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    border-top: 1px solid black;

}


.footer-row1 {
    display: flex;
    justify-content: space-between;
}